{% extends "website/layout.html" %}

{% block body %}
    <h2>This is our contact page!</h2>
    <p>
    {% if graph %}

    {{ graph|safe }}
    {% else %}
    <p>No graph was provided.</p>
    {% endif %}
    </p>
    <div class="container">

      <form action = "{% url 'contact' %}" method="POST" class="post-form">{% csrf_token %}

          <div class="row" style="margin: 20px">
            <div class="column" style="margin: 10px"><input type="text" name="name" placeholder="Type your first name."></div>
            <div class="column" style="margin: 10px"><span>Enter close contacts:{{ person_form.contacts }}</span></div>
            <div class="column" style="margin: 10px"><button type="submit" class="btn btn-info pull-left" >Submit</button></div>
          </div>


      </form>

    </div>

{% endblock %}
