{% extends "website/layout.html" %}

{% block body %}
    <h2>This is our contact page!</h2>
    <p>
    {% if graph %}

    {{ graph|safe }}
    {% else %}
    <p>No graph was provided.</p>
    {% endif %}
    </p>
    <div>

      <form action = "{% url 'contact' %}" method="POST" class="post-form">{% csrf_token %}

        {% if user.is_authenticated %}
          <div>
              Select who you have been in contact with:
              <span>{{ person_form.contacts }}</span>
          </div>


        {% else %}
            <input type="text" name="name">
            <span>{{ person_form.contacts}}</span>
        {% endif %}

          <br>
          <button type="submit" class="btn btn-info pull-left">Submit</button>
      </form>

    </div>

{% endblock %}
