{% extends "website/layout.html" %}

{% block body %}
    <h2>This is our index page!</h2>
    <p>This is a different sentence.</p>

    <ul>
      {% for announcement in announcements %}
        <li>{{ announcement.text }}</li>
      {% empty %}
        <li>No announcements yet.</li>
      {% endfor %}
    </ul>
    {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    <form action = "{% url 'add_announcement' %}" method="POST" class="post-form">{% csrf_token %}

        <div>{{ announcement_form.text }}</div>
        <br>
        <button type="submit" class="btn btn-info pull-left">Submit</button>
    </form>

{% endblock %}
